*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "宋体";
	color: #000;
}

/*登录栏*/
.top{
	height: 37px;
	background: #fafafa;
	border:1px solid #999999;
}
.top1{
	margin: auto;
	height: 37px;
	width: 1130px;
}
.top1 ol li{
    margin: 4px;
	float: left;
}
.top1 ul{
	float: right;
}
.top1 ul li span{
	font-size: 12px;
}
.top1 ul li{
	position:relative;
	line-height: 38px;
	width: 110px;
	height: 37px;
	float: left;
	background: url(../img/online_new.png) no-repeat left center;
	
}
.top1 ul li:nth-child(1){
	background-position: 0 8px;
}
.top1 ul li:nth-child(2){
	background-position: 0 -125px;
}
.top1 ul li:nth-child(3){
	position: relative;
	background-position: 0 -234px;
}
.top1 ul li span{
	padding-left: 26px;
}
.top2{
	display: none;
	position: absolute;
	font-size:12px;
	width: 200px;
	height: 100px;
	margin-top: 37px;
}
.top2{
	text-align: center;
}
.top2 p{
	line-height: 26px;
}
.top1 ul li:nth-child(1):hover span{
	color: limegreen;
	font-weight: bold;
	font-size: 13px;
}
.top1 ul li:nth-child(1):hover{
	border:1px solid #999999;
	border-bottom: transparent;
	background: url(../img/online_new.png) no-repeat left center #FFFFFF;
	background-position: 0 8px;	
}
.top1 ul li:nth-child(1):hover div{
	z-index: 9;
	height: 80px;
	width: 160px;
	z-index: 9;
	border: 1px solid #999;
	border-top: transparent;
	display: block;
	background: #FFF;
	margin-left:-1px ;
}
.top1 ul li:nth-child(2){
	position: relative;
}
.top1 ul li:nth-child(2) div{
	display: none;
	border: 1px solid #999999;
	position: absolute;
	top: 37px;
	background: #FFFFFF;
	width: 212px;
	height: 120px;
}
.top3 span:nth-child(1){
	margin-top:4px ;
	margin-left:12px ;
	width: 70px;
	height: 100px;
	background: url(../img/Qrcode.png) no-repeat left center;
	float: left;
}
.top3 span:nth-child(2){
	margin-top:4px ;
	width: 78px;
	height: 100px;
	background: url(../img/Qrcode.png) no-repeat left center;
	float: left;
}
.top3 span:nth-child(3){
	margin-left: 16px;
    position: absolute;
    top: 88px;
    left: -4px;
}

.top3 span:nth-child(4){
	margin-left: 25px;
	position: absolute;
    top: 88px;
    left: 82px;
}
.top1 ul li:nth-child(2):hover>span{
	font-size: 13px;
	color: limegreen;
	font-weight: bold;
}

.top1 ul li:nth-child(2):hover{
	border: 1px solid #999;
	border-bottom: transparent;
	background: url(../img/online_new.png) no-repeat left center #FFFFFF;
	background-position: 0 -125px;
}
.top1 ul li:nth-child(2):hover div{
	z-index: 9;
	border-top: transparent;
	display: block;
	margin-left:-1px ;	
}
.top4{
	display: none;
	width: 170px;
	height: 80px;
	border: 1px solid #999;
	font-size: 12px;
	position: absolute;
	top: 37px;
	left: -61px;
	float: right;
}
.top4 input{
	border: 1px solid #999;
	width: 100px;
	height: 26px;
	border-radius: 5px;
	margin-left:7px ;
}
.top4 .put{
	background: #999;
	font-weight: bold;
	color: #fff;
	height: 30px;
	width: 154px;
}
.top4 .put:hover{
	background: limegreen;
}
.top1 ul li:nth-child(3):hover .top4{
	z-index: 9;
	background: #fff;
	border-top:transparent ;
	display: block;
}
.top1 ul li:nth-child(3):hover{
	border: 1px solid #999;
	background: url(../img/online_new.png) no-repeat left center #FFFFFF;
	background-position: 0 -234px;
	
}
.top1 ul li:nth-child(3):hover>span{
	font-size: 13px;
	color: limegreen;
	font-weight: bold;
}
/*logo栏*/
.logo1{
	margin: 0 auto;
	height: 90px;
	width: 1130px;
}
.logo1 ul{
	position: relative;
}
.logo1 ul li:nth-child(1){
	position: absolute;
	top: 21px;
	left: 0;
}
.logo1 ul li:nth-child(3){
	position: absolute;
	top: 18px;
	right: 0;
}
.logo1 ul li:nth-child(2){
	margin-top:20px ;
	left: 32%;
	position: absolute;
	
}
.logo1 ul li:nth-child(2) input{
	background: url(../img/top-shousuo.jpg) no-repeat right center;
	width: 428px;
	height: 33px;
	border: 3px solid #32CD32;
}
.logo1 ul li p{
	margin-top: 10px;
}
.logo1 ul li p span:nth-child(1){
	margin-right:10px ;
	font-size: 12px;
	color: #32CD32;
	font-weight: bold;
}
.logo1 ul li p span:nth-child(2){
	margin-right:10px ;
	font-size: 12px;
	color: orangered;
}
.logo1 ul li p span:nth-child(3){
	margin-right:10px ;
	font-size: 13px;
	color: #999999;
}
.logo1 ul li p span:nth-child(3):hover{
	font-size: 13px;
	color: #32CD32;
}
.logo1 ul li p span:nth-child(4){
	font-size: 13px;
	color: #32CD32;
}

/*导航栏*/
.nav1{
	margin: 16px auto;
	width: 1130px;
	height: 36px;
}
.nav1>ul{
	float: left;
}

.nav1>ul>li{
	float: left;
}
.nav1>ul>li:nth-child(1)>a{
	color: #FFFFFF;
}
.nav1>ul>li:nth-child(1){
	margin-top: 3px;
	position: relative;
	margin-right:30px ;
	width: 163px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background: url(../img/biao.gif) no-repeat right center #68bb00;
}
.nav1>ul>li:nth-child(7)>a{
	color: orangered;
}
.nav1>ul>li:nth-child(7){
	width: 114px;
	height: 36px;
	margin-left:250px ;
	font-size: 16px;
	font-weight: bold;
	color: orangered;
	background:url(../img/icon_cart.png) no-repeat left center ;
}
.nav1>ul>li{
	margin-right:46px ;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;	
}
.nav3{
	height: 3px;
	background: #68BB00;
	margin-top:-7px ;
}
/*左侧导航*/
.yiru1{
	display: none;
}
.znav>ul>li{
	text-align: center;
	line-height: 46px;
	width: 163px;
	height: 46px;
	opacity: 1;
	
}
.znav>ul>li>a{
	color: #fff;
}
.cnav{
	opacity: 0.8;
	width: 163px;
	height: 521px;
	background: url(../img/icon_nav1.png) no-repeat left center #321806 ;
	background-position: -3px -1px;
}
.znav>ul{
	width: 163px;
	height: 521px;
	
}
.znav>ul>li{
	background: url(../img/san.gif) no-repeat right center;
}
.znav>ul>li:hover>a{
	text-decoration: underline;
}
.cnav{
	z-index: 19;
	position: absolute;
	top: 36px;
}
.znav>ul>li>ol>li a:hover{
	color: orangered;
}
.znav>ul>li:nth-child(1){
	position: relative;
}

.chunav ol{
	display: none;
}
.chunav:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(2){
	position: relative;
}

.chunav1 ol{
	display: none;
}
.chunav1:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(3){
	position: relative;
}
.chunav2 ol{
	display: none;
}
.chunav2:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}

.znav>ul>li:nth-child(4){
	position: relative;
}
.chunav3 ol{
	display: none;
}
.chunav3:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(5){
	position: relative;
}
.chunav4 ol{
	display: none;
}
.chunav4:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(6){
	position: relative;
}
.chunav5 ol{
	display: none;
}
.chunav5:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(7){
	position: relative;
}
.chunav6 ol{
	display: none;
}
.chunav6:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(8){
	position: relative;
}
.chunav7 ol{
	display: none;
}
.chunav7:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(9){
	position: relative;
}
.chunav8 ol{
	display: none;
}
.chunav8:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(10){
	position: relative;
}
.chunav9 ol{
	display: none;
}
.chunav9:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}
.znav>ul>li:nth-child(11){
	position: relative;
}
.chunav10 ol{
	display: none;
}
.chunav10:hover ol{
	width: 187px;
	height: 216px;
	z-index: 20;
	position: absolute;
	left: 163px;
	top: 9px;
	font-size: 12px;
	font-weight: normal;
	background: #FFFFFF;
	margin-right:0px ;
	line-height: 24px;
	display: block;
}

/*右侧固定栏*/
#you{
	position: relative;
	z-index: 999;
	background: #000;
	opacity: 0.9;
	width: 45px;
	height: 100%;
	position: fixed;
	top:0;
	right: 0;
}
.you1{
	z-index: 1000;
	position: absolute;
}
.you1 ul{
	margin-top: 100px;
}
.you1 ul li:nth-child(1){
	position: relative;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 11px 9px;
}
.you1 ul li p{
	display: none;
	text-align: center;
	line-height:30px ;
	position: absolute;
	top: 8px;
	left: -75px;
	font-size: 14px;
	color: #FFFFFF;
	width: 75px;
	height: 30px;
	background: #000000;
}
.you1 ul li:hover p{
	display: block;
}
.you1 ul li:nth-child(2){
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 11px -38px;
}
.you1 ul li:nth-child(3){
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left:16px ;
	width: 20PX;
	height: 70px;
	
}
.you1 ul li:nth-child(4){
	position: relative;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -91px;
}
.you1 ul li:nth-child(5){
	position: relative;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -146px;
}
.you1 ul li:nth-child(6){
	position: relative;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -198px;
}
.you1 ul li:nth-child(7){
	position: relative;
	margin-top: 100px;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -246px;
}
.you1 ul li:nth-child(8){
	position: relative;
	margin-top: 10px;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -299px;
}
.you1 ul li:nth-child(9){
	position: relative;
	margin-top: 10px;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -416px;
}
.you1 ul li:nth-child(10){
	position: relative;
	margin-top: 10px;
	width: 45px;
	height: 45px;
	background: url(../img/icon_rightnav.png) no-repeat left center;
	background-position: 12px -363px;
}

/*内容区*/
.nei{
	width: 1130px;
	margin: 0 auto;
}
.nei>div{
	float: left;
}
.nei>div:nth-child(2){
	margin-top: 4px ;
	margin-left:13px ;
}
.nei>div:nth-child(3){
	margin-left:13px ;
}
.nei>div:nth-child(4){
	margin-left:4px ;
}
#small{
	position: relative;
}
#small>img{
	border: 1px solid #999;
	position: absolute;
	top: 0;
	left: 0;
}
#small>ul>li{
	float: left;
	margin-top: 400px;
}
 #small>ul>li>img{
 	margin: 5px;
 	border: 1px solid #999;
 	width: 90px;
 	height: 90px;
 }
.san ul li input:nth-child(1){
	margin-top:20px ;
	margin-left: 8px;
	margin-right:10px ;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	width: 160px;
	height: 42px;
	border: 1px;
	border-radius:4px ;
	background: red;
}
.san ul li input:nth-child(2){
	font-size: 20px;
	color: red;
	font-weight: bold;
	width: 160px;
	height: 42px;
	border: 1px;
	border-radius:4px ;
	background: #ffe4d0;
}
.chan{
	text-align: center;
	width: 1130px;
	margin: 0 auto;
}
/*底部*/
.bottom{
	overflow: hidden;
    margin: 0 auto;
    width: 1130px;
}
.bottom1{
	width: 1130px;
	height: 1px;
	background: #999999;
	margin-top: 20px;
}
.bottom2 ul li{
	font-size: 14px;
	line-height: 24px;
	margin-right:55px ;
	margin-left:55px ;
	margin-top: 17px;
    float: left;	
}
.bottom3{
	clear: both;
	width: 1130px;
	height: 118px;
	margin: 0 auto;
	background: #f9f9f9;
}
.bottom3 ul li{
	position: relative;
	line-height: 90px;
	width: 148px;
	height: 90px;
	background: bisque;
	float: left;
	margin:10px 114px;
}
.bottom3 ul li:nth-child(1){
	background: url(../img/footicon.png) no-repeat ;
	background-position: 10px -63px;
}
.bottom3 ul li:nth-child(2){
	background: url(../img/footicon.png) no-repeat ;
	background-position: 10px -143px;
}
.bottom3 ul li:nth-child(3){
	background: url(../img/footicon.png) no-repeat ;
	background-position: 10px -226px;
}
.bottom3 ul li span:nth-child(1){
	position: absolute;
	top: 37px;
	left: -15px;
	font-size: 18px;
	color: #65B600;
	font-weight: bold;
}
.bottom3 ul li span:nth-child(2){
	position: absolute;
	top: 37px;
	left: 62px;
	font-size: 18px;
	font-weight: bold;
}
.bottom4{
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.bottom4 p:nth-child(1) span{
	margin:0 10px ;
}
.bottom4 p:nth-child(4) img{
	margin:0 10px ;
}
